body{
  font-family: "Montserrat";
}

h1{
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 1.25rem;
}

p{
  color: gray;
}

.container-fluid{
  padding: 3% 15% 7%;
}

#title{
  background-color: #fcbad3;
  /* background-color: #aa96da; */
  /* background-color: #ffb6b9; */
  /* background-color: #ff4c68; */
  color: white;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
  width: 60%;
  transform: rotate(23deg);
  position: absolute;
  right:23%;
}

/* Features */

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

/* Testimonials */

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#press{
  background-color: #a8d8ea;
  /* background-color: #fcbad3; */
  /* background-color:#ef8172; */
  text-align: center;
  padding-bottom: 3%;
}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #a8d8ea;
  /* background-color: #fcbad3; */
  /* background-color:#ef8172; */
  color: white;
}

/* Pricing Section */

.pricing-column{
  padding: 3% 2%;
}

#pricing{
  padding: 100px;
  text-align: center;
}

/* Call to Action */

.cta-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;

}

#cta{
  background-color: #aa96da;
  /* background-color: #fcbad3; */
  /* background-color: #a8d8ea; */
  /* background-color: #ff4c68; */
  color: white;
  padding: 7% 15%;
  text-align: center;
}

/* Footer */

.social-icon{
  margin: 20px 10px;
}

#footer{
  padding: 7% 15%;
  text-align: center;
}

/* Media Query */

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
